@charset "UTF-8";
/* =======================================================
共通
======================================================= */
.ly_main {
  background: #f7f4f4;
}
.ly_head {
  background: #fff;
  box-shadow: 0 0 min(1.25vw, 16px) rgba(0, 0, 0, 0.32);
}
.bl_breadcrumbs {
  margin-top: min((16/1280) * 100vw, 16px);
}
.bl_pagenavi {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: min(40/1280 * 100vw, 40px);
}
.bl_pagenavi > * {
  display: grid;
  place-content: center;
  width: min(30/1280 * 100vw, 30px);
  height: min(32/1280 * 100vw, 32px);
  font-size: min(18/1280 * 100vw, 18px);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  background: #a5a5a5;
}
.bl_pagenavi > *.page {
  padding-bottom: min(3/1280 * 100vw, 3px);
  cursor: pointer;
}
.bl_pagenavi > *.current {
  background: #9b1613;
}
.bl_pagenavi > *.middle {
  color: #a5a5a5;
  background: transparent;
}
.bl_pagenavi > *.prev {
  position: relative;
  cursor: pointer;
}
.bl_pagenavi > *.prev::before, .bl_pagenavi > *.prev::after {
  position: absolute;
  top: calc(50% - min(1/1280 * 100vw, 1px));
  left: 40%;
  width: min(8.4/1280 * 100vw, 8.4px);
  height: min(2/1280 * 100vw, 2px);
  content: "";
  background-color: #fff;
  border-radius: 9999px;
  transform-origin: 1px 50%;
}
.bl_pagenavi > *.prev::before {
  transform: rotate(51.35deg);
}
.bl_pagenavi > *.prev::after {
  transform: rotate(-51.35deg);
}
.bl_pagenavi > *.next {
  position: relative;
  cursor: pointer;
}
.bl_pagenavi > *.next::before, .bl_pagenavi > *.next::after {
  position: absolute;
  top: calc(50% - min(1/1280 * 100vw, 1px));
  right: 40%;
  width: min(8.4/1280 * 100vw, 8.4px);
  height: min(2/1280 * 100vw, 2px);
  content: "";
  background-color: #fff;
  border-radius: 9999px;
  transform-origin: calc(100% - 1px) 50%;
}
.bl_pagenavi > *.next::before {
  transform: rotate(51.35deg);
}
.bl_pagenavi > *.next::after {
  transform: rotate(-51.35deg);
}
@media screen and (width <= 750px) {
  .bl_breadcrumbs {
    margin-top: 48px;
  }
  .bl_pagenavi {
    gap: 12px;
    margin-top: 64px;
  }
  .bl_pagenavi > * {
    width: 45px;
    height: 48px;
    font-size: 30px;
  }
  .bl_pagenavi > *.page {
    padding-bottom: 4.5px;
  }
  .bl_pagenavi > *.prev::before, .bl_pagenavi > *.prev::after {
    width: 12.6px;
    height: 3px;
  }
  .bl_pagenavi > *.prev::before {
    transform: rotate(48.8deg);
  }
  .bl_pagenavi > *.prev::after {
    transform: rotate(-48.8deg);
  }
  .bl_pagenavi > *.next::before, .bl_pagenavi > *.next::after {
    width: 12.6px;
    height: 3px;
  }
  .bl_pagenavi > *.next::before {
    transform: rotate(48.8deg);
  }
  .bl_pagenavi > *.next::after {
    transform: rotate(-48.8deg);
  }
}
/*=======================================================
タグ
=======================================================*/
.bl_item_tags {
  display: flex;
  flex-wrap: wrap;
  gap: min(16/1280 * 100vw, 16px);
  align-self: start;
  padding: 0 min(24/1280 * 100vw, 24px);
  margin-bottom: min(16/1280 * 100vw, 16px);
}
.bl_item_tag {
  padding: min(3/1280 * 100vw, 3px) min(18/1280 * 100vw, 18px);
  font-size: min(14/1280 * 100vw, 14px);
  line-height: calc(20/14);
  background: #fff;
  border: 1px solid #c3a45f;
}
@media screen and (max-width: 750px) {
  .bl_item_tags {
    gap: 24px;
    padding: 0;
    margin-bottom: 24px;
  }
  .bl_item_tag {
    padding: 1px 21px;
    font-size: 24px;
    border-width: 2px;
  }
}
/*=======================================================
review_archive
=======================================================*/
.bl_review.archive {
  padding-bottom: min(64/1280 * 100vw, 64px);
}
.bl_review.archive .bl_review_ttl {
  font-size: min(20/1280 * 100vw, 20px);
  font-weight: 700;
  text-align: center;
  margin-bottom: min(40/1280 * 100vw, 40px);
}
.bl_review.archive .bl_review_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(24/1280 * 100vw, 24px);
}
.bl_review.archive .bl_review_item {
  padding: min(24/1280 * 100vw, 24px) min(22/1280 * 100vw, 22px);
  background: #fff;
  border: 1px solid #dddddd;
}
.bl_review.archive .bl_review_item .bl_item_txt {
  font-size: min(14/1280 * 100vw, 14px);
  margin-bottom: min(16/1280 * 100vw, 16px);
}
.bl_review.archive .bl_review_item .bl_item_btn {
  background: #363636;
  color: #fff;
  width: auto;
  height: min(48/1280 * 100vw, 48px);
  font-size: min(16/1280 * 100vw, 16px);
  padding-bottom: min(2/1280 * 100vw, 2px);
}
@media screen and (max-width: 750px) {
  .bl_review.archive {
    padding-bottom: 64px;
  }
  .bl_review.archive .bl_review_ttl {
    font-size: 30px;
    margin-bottom: 64px;
  }
  .bl_review.archive .bl_review_list {
    grid-template-columns: auto;
    gap: 48px;
    margin-bottom: 64px;
  }
  .bl_review.archive .bl_review_item {
    padding: 24px 32px 40px;
  }
  .bl_review.archive .bl_review_item .bl_item_txt {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .bl_review.archive .bl_review_item .bl_item_btn {
    height: 80px;
    font-size: 26px;
    padding-bottom: 3px;
  }
}
/* =======================================================
case_archive
======================================================= */
.bl_case.archive {
  padding-bottom: min(64/1280 * 100vw, 64px);
}
.bl_case.archive .bl_case_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(24/1280 * 100vw, 24px) min(32/1280 * 100vw, 32px);
}
.bl_case.archive .bl_case_item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 0;
}
.bl_case.archive .bl_case_item .bl_item_link {
  display: inherit;
  grid-template-rows: inherit;
  grid-row: inherit;
  padding: min(24/1280 * 100vw, 24px) 0 min(16/1280 * 100vw, 16px);
  background: #fff;
  border: 1px solid #dddddd;
}
.bl_case.archive .bl_case_item .bl_item_ttl {
  padding: 0 min(24/1280 * 100vw, 24px);
  margin-bottom: min(16/1280 * 100vw, 16px);
  font-size: min(20/1280 * 100vw, 20px);
  font-weight: 700;
  color: #9b1613;
  letter-spacing: 0.06em;
}
.bl_case.archive .bl_case_item .bl_item_change {
  display: grid;
  grid-template-columns: 1fr min(355/1280 * 100vw, 355px);
  margin-bottom: min(32/1280 * 100vw, 32px);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_before {
  position: relative;
  min-height: min(154/1280 * 100vw, 154px);
  padding: min(16/1280 * 100vw, 16px) min(24/1280 * 100vw, 24px);
  background: #fff;
  border: 1px solid #9b1613;
  border-right: none;
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_before::after {
  position: absolute;
  top: 50%;
  right: max(-34.5/1280 * 100vw, -34.5px);
  display: inline-block;
  width: min(35/1280 * 100vw, 35px);
  height: 100%;
  content: "";
  background: #fff;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  transform: translateY(-50%);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_before .bl_change_ttl {
  width: min(52/1280 * 100vw, 52px);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_before .bl_change_txt {
  color: #222222;
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_after {
  min-height: min(154/1280 * 100vw, 154px);
  padding: min(16/1280 * 100vw, 16px) min(24/1280 * 100vw, 24px) min(16/1280 * 100vw, 16px) min(72/1280 * 100vw, 72px);
  background: linear-gradient(111deg, #6e1412 0%, #ba322f 100%);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_after .bl_change_ttl {
  width: min(40/1280 * 100vw, 40px);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_ttl {
  display: flex;
  height: min(18/1280 * 100vw, 18px);
  margin-bottom: min(16/1280 * 100vw, 16px);
}
.bl_case.archive .bl_case_item .bl_item_change .bl_change_txt {
  font-size: min(14/1280 * 100vw, 14px);
  color: #fff;
}
.bl_case.archive .bl_case_item .bl_item_more {
  padding: 0 min(16/1280 * 100vw, 16px);
  font-size: min(14/1280 * 100vw, 14px);
  text-align: right;
  text-decoration: underline;
}
.bl_case.archive .bl_case_btn {
  margin: min(40/1280 * 100vw, 40px) auto 0;
  font-size: min(16/1280 * 100vw, 16px);
  padding: min(6/1280 * 100vw, 6px) min(40/1280 * 100vw, 40px) min(9/1280 * 100vw, 9px);
  width: fit-content;
  height: auto;
  min-height: min(48/1280 * 100vw, 48px);
}
@media screen and (width <= 750px) {
  .bl_case.archive {
    padding-bottom: 80px;
  }
  .bl_case.archive .bl_case_list {
    grid-template-columns: auto;
    gap: 48px;
  }
  .bl_case.archive .bl_case_item .bl_item_link {
    padding: 24px 30px 30px;
    border-width: 2px;
  }
  .bl_case.archive .bl_case_item .bl_item_tags {
    gap: 24px;
    padding: 0;
    margin-bottom: 24px;
  }
  .bl_case.archive .bl_case_item .bl_item_tag {
    padding: 1px 21px;
    font-size: 24px;
    border-width: 2px;
  }
  .bl_case.archive .bl_case_item .bl_item_ttl {
    padding: 0;
    font-size: 30px;
    margin-bottom: 32px;
  }
  .bl_case.archive .bl_case_item .bl_item_change {
    grid-template-columns: auto;
    margin-bottom: 32px;
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_before {
    min-height: auto;
    padding: 24px 64px 8px;
    border-width: 2px;
    border-right: 2px solid #9b1613;
    border-bottom: none;
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_before::after {
    top: initial;
    right: initial;
    bottom: -71px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 72px;
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_before .bl_change_ttl {
    width: 64px;
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_after {
    min-height: auto;
    padding: 79px 64px 32px;
    background: linear-gradient(108deg, #6e1412 0%, #ba322f 100%);
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_after .bl_change_ttl {
    width: 54px;
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_ttl {
    height: 22px;
    margin-bottom: 16px;
  }
  .bl_case.archive .bl_case_item .bl_item_change .bl_change_txt {
    font-size: 24px;
  }
  .bl_case.archive .bl_case_item .bl_item_more {
    padding: 0;
    font-size: 24px;
  }
  .bl_case.archive .bl_case_btn {
    margin: 64px auto 0;
    font-size: 26px;
    padding: 12px 56px 16px;
    min-height: 80px;
  }
}