@charset "UTF-8";
/*=======================================================
共通
=======================================================*/
.ly_main {
  background: #F7F4F4;
}
/*=======================================================
company
=======================================================*/
.bl_company {
  padding: min(16 / 1280 * 100vw, 16px) 0 min(80 / 1280 * 100vw, 80px);
  background: #F7F4F4;
}
.bl_company .el_sec_mainTtl::after {
  background: url("../images/company/ttl_deco_company.svg") top center/contain no-repeat;
  width: min(74 / 1280 * 100vw, 74px);
  height: min(22 / 1280 * 100vw, 22px);
}
.bl_company_conts {
  padding: min(40 / 1280 * 100vw, 40px) min(56 / 1280 * 100vw, 56px);
  background: #fff;
}
.bl_company_conts .bl_conts_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: min(40 / 1280 * 100vw, 40px);
  gap: min(16 / 1280 * 100vw, 16px) min(40 / 1280 * 100vw, 40px);
}
.bl_company_conts .bl_conts_item {
  width: calc((100% - min(40 / 1280 * 100vw, 40px)) / 2);
}
.bl_company_conts .bl_conts_item > a {
  text-decoration: underline;
}
.bl_company_conts .bl_conts_btn {
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .bl_company {
    padding: 24px 0 80px;
  }
  .bl_company .el_sec_mainTtl::after {
    width: 111px;
    height: 28px;
  }
  .bl_company_conts {
    padding: 40px 32px 48px;
  }
  .bl_company_conts .bl_conts_list {
    margin-bottom: 64px;
    gap: 24px 40px;
  }
  .bl_company_conts .bl_conts_item {
    width: calc((100% - 40px) / 2);
  }
}