@charset "UTF-8";
/*=======================================================
共通
=======================================================*/
.ly_main {
  padding-top: min(16 / 1280 * 100vw, 16px);
  background: #f7f4f4;
}
.bl_breadcrumbs {
  margin-bottom: min(16 / 1280 * 100vw, 16px);
}
.bl_conditions {
  padding: min(40 / 1280 * 100vw, 40px);
}
@media screen and (max-width: 750px) {
  .ly_main {
    padding-top: 24px;
  }
  .bl_breadcrumbs {
    margin-bottom: 24px;
  }
  .bl_conditions {
    padding: 40px 0;
  }
}
/*=======================================================
head
=======================================================*/
.bl_jobs_head {
  padding-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_jobs_head .bl_head_ttl {
  font-size: min(26 / 1280 * 100vw, 26px);
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_jobs_head .bl_head_about {
  display: flex;
  align-items: end;
}
@media screen and (max-width: 750px) {
  .bl_jobs_head {
    padding-bottom: 24px;
  }
  .bl_jobs_head .bl_head_ttl {
    font-size: 36px;
    margin-bottom: 16px;
  }
}
/*=======================================================
ly_cont
=======================================================*/
.ly_cont {
  display: flex;
  flex-wrap: wrap;
  gap: min(32 / 1280 * 100vw, 32px);
}
.ly_cont_main {
  width: min(828 / 1280 * 100vw, 828px);
}
.ly_cont_aside {
  width: min(340 / 1280 * 100vw, 340px);
}
@media screen and (max-width: 750px) {
  .ly_cont {
    gap: 40px;
  }
  .ly_cont_main {
    width: 100%;
  }
  .ly_cont_aside {
    width: 100%;
  }
}
/*=======================================================
main
=======================================================*/
.bl_main_list {
  display: grid;
  gap: min(24 / 1280 * 100vw, 24px);
  margin-bottom: min(27 / 1280 * 100vw, 27px);
}
.bl_main_item {
  padding: min(24 / 1280 * 100vw, 24px);
  background: #fff;
  border: 1px solid #cccccc;
}
.bl_main_item .bl_article_group {
  display: grid;
  gap: min(16 / 1280 * 100vw, 16px);
  line-height: 1.5;
  margin-bottom: min(16 / 1280 * 100vw, 16px);
}
.bl_main_item .bl_article_groupTxt {
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
}
.bl_main_item .bl_article_ttl {
  font-size: min(20 / 1280 * 100vw, 20px);
  font-weight: 700;
  color: #9b1613;
  text-decoration: underline;
}
.bl_main_item .bl_article_conditionsList {
  display: flex;
  flex-wrap: wrap;
  gap: min(8 / 1280 * 100vw, 8px);
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_main_item .bl_article_conditionsItem {
  background: #fff;
  padding: min(calc(3 / 1280 * 100vw), 3px) min(calc(8 / 1280 * 100vw), 8px) min(calc(5 / 1280 * 100vw), 5px);
  font-size: min(12 / 1280 * 100vw, 12px);
  line-height:calc(17 / 12);
  border: 1px solid #C3A45F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_main_item .bl_article_def {
  display: grid;
  gap: min(8 / 1280 * 100vw, 8px);
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_main_item .bl_article_dwrap {
  display: flex;
  flex-wrap: wrap;
  gap: min(16 / 1280 * 100vw, 16px);
}
.bl_main_item .bl_article_dwrap.location .bl_article_dttl::before {
  background: url("../images/common/icon_pin.svg") top center/contain no-repeat;
}
.bl_main_item .bl_article_dwrap.annual-income .bl_article_dttl::before {
  background: url("../images/common/icon_money.svg") top center/contain no-repeat;
}
.bl_main_item .bl_article_dwrap.job-conts .bl_article_dttl::before {
  background: url("../images/common/icon_bag.svg") top center/contain no-repeat;
}
.bl_main_item .bl_article_dwrap.required-conditions .bl_article_dttl::before {
  background: url("../images/common/icon_light.svg") top center/contain no-repeat;
}
.bl_main_item .bl_article_dttl {
  flex: 0 1 min(128 / 1280 * 100vw, 128px);
  height: min(28 / 1280 * 100vw, 28px);
  background: #363636;
  color: #fff;
  padding: 0 0 min(2 / 1280 * 100vw, 2px) min(38 / 1280 * 100vw, 38px);
  font-size: min(14 / 1280 * 100vw, 14px);
  position: relative;
  display: flex;
  align-items: center;
}
.bl_main_item .bl_article_dttl::before {
  position: absolute;
  content: "";
  width: min(20 / 1280 * 100vw, 20px);
  height: min(20 / 1280 * 100vw, 20px);
  top: 50%;
  left: min(10 / 1280 * 100vw, 10px);
  transform: translateY(-50%);
}
.bl_main_item .bl_article_ditem {
  flex: 1;
  font-size: min(14 / 1280 * 100vw, 14px);
  line-height:calc(22 / 14);
}
.location .bl_article_ditem,
.annual-income .bl_article_ditem,
.required-conditions .bl_article_ditem {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
}
.job-conts .bl_article_ditem {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
}
.bl_main_item .bl_article_btn {
  width: 100%;
  height: min(48 / 1280 * 100vw, 48px);
  margin: 0 auto;
  font-size: min(16 / 1280 * 100vw, 16px);
}
.bl_main_item .bl_article_btn::after {
  width: min(6 / 1280 * 100vw, 6px);
  height: min(12 / 1280 * 100vw, 12px);
  right: min(24 / 1280 * 100vw, 24px);
}
@media screen and (max-width: 750px) {
  .bl_main_list {
    gap: 36px;
    margin-bottom: 40px;
  }
  .bl_main_item {
    padding: 30px;
    border-width: 2px;
  }
  .bl_main_item .bl_article_group {
    gap: 16px;
    margin-bottom: 16px;
  }
  .bl_main_item .bl_article_groupTxt {
    font-size: 22px;
  }
  .bl_main_item .bl_article_ttl {
    font-size: 30px;
  }
  .bl_main_item .bl_article_conditionsList {
    gap: 12px;
    margin-bottom: 24px;
  }
  .bl_main_item .bl_article_conditionsItem {
    padding: 2px 8px 4px;
    font-size: 20px;
  }
  .bl_main_item .bl_article_def {
    gap: 8px;
    margin-bottom: 24px;
  }
  .bl_main_item .bl_article_dwrap {
    gap: 12px;
  }
  .bl_main_item .bl_article_dttl {
    flex: 0 1 148px;
    height: 36px;
    padding: 0 0 3px 40px;
    font-size: 20px;
  }
  .bl_main_item .bl_article_dttl::before {
    width: 24px;
    height: 24px;
    left: 8px;
  }
  .bl_main_item .bl_article_ditem {
    font-size: 22px;
  }
  .job-conts .bl_article_ditem {
    -webkit-line-clamp: 6;
  }
  .bl_main_item .bl_article_btn {
    width: 100%;
    height: 80px;
    font-size: 30px;
  }
  .bl_main_item .bl_article_btn::after {
    width: 9px;
    height: 18px;
    right: 24px;
  }
}
/*=======================================================
pagenavi
=======================================================*/
.bl_pagenavi {
  width: 100%;
}

.bl_pagenavi nav {
  display: block;
}

.bl_pagenavi ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bl_pagenavi li {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  padding-bottom: 3px;
  background: #a5a5a5;
}

.bl_pagenavi .active {
  background: #9b1613;
}
.bl_pagenavi .disabled {
  color: #a5a5a5;
  background-color: inherit;
}

@media screen and (max-width: 750px) {
  .bl_pagenavi ul {
    gap: 16px;
  }
  .bl_pagenavi li {
    font-size: 28px;
    width: 48px;
    height: 56px;
    padding-bottom: 4px;
  }
}
