/*=======================================================
connection
=======================================================*/
.bl_connection {
  padding-top: min(24 / 1280 * 100vw, 24px);
}
.bl_connection_ttl {
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  padding: 0 0 min(7 / 1280 * 100vw, 7px) min(16 / 1280 * 100vw, 16px);
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d6bcbc;
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_connection_ttl::before {
  position: absolute;
  content: "";
  width: min(4 / 1280 * 100vw, 4px);
  height: min(24 / 1280 * 100vw, 24px);
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #ba322f 0%, #6e1412 100%);
}
.bl_connection_jobs_wrapper {
  display: grid;
  gap: min(40 / 1280 * 100vw, 40px);
}
.bl_connection_jobs .bl_jobs_ttl {
  font-size: min(15 / 1280 * 100vw, 15px);
  margin-bottom: min(16 / 1280 * 100vw, 16px);
}
.bl_connection_jobs .bl_jobs_link_wrapper + .bl_jobs_link_wrapper {
  margin-top: min(8 / 1280 * 100vw, 8px);
}
.bl_connection_jobs .bl_jobs_link {
  display: block;
}
.bl_connection_jobs .bl_jobs_link_inner {
  line-height: calc(20 / 14);
  font-size: min(14 / 1280 * 100vw, 14px);
  color: #0000ff;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  max-width: min(828 / 1280 * 100vw, 828px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bl_connection_jobs .bl_jobs_link.--new .bl_jobs_link_inner {
  padding-right: min(60 / 1280 * 100vw, 60px);
}
.bl_connection_jobs .bl_jobs_link.--new .bl_jobs_link_inner::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "NEW";
  flex: 1;
  background: #9b1613;
  padding: 0 min(6 / 1280 * 100vw, 6px) min(1 / 1280 * 100vw, 1px);
  font-size: min(12 / 1280 * 100vw, 12px);
  color: #fff;
  line-height: calc(20 / 14);
}
@media screen and (min-width: 751px) {
  .bl_connection .ly_cont_inner {
    width: min(828 / 1280 * 100vw, 828px);
  }
}
@media screen and (max-width: 750px) {
  .bl_connection {
    padding-top: 64px;
  }
  .bl_connection_ttl {
    font-size: 32px;
    padding: 0 0 14px 28px;
    border-width: 2px;
    margin-bottom: 36px;
  }
  .bl_connection_ttl::before {
    width: 8px;
    height: calc(100% - 12px);
  }
  .bl_connection_jobs_wrapper {
    gap: 64px;
  }
  .bl_connection_jobs .bl_jobs_ttl {
    font-size: 26px;
    margin-bottom: 24px;
  }
  .bl_connection_jobs .bl_jobs_link_wrapper + .bl_jobs_link_wrapper {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #d6bcbc;
  }
  .bl_connection_jobs .bl_jobs_link_inner {
    display: initial;
    text-decoration: none;
    font-size: 24px;
    width: 100%;
    white-space: initial;
    text-overflow: initial;
  }
  .bl_connection_jobs .bl_jobs_link.--new .bl_jobs_link_inner::after {
    right: -55px;
    padding: 0 9px 3px;
    font-size: 20px;
  }
}
/*=======================================================
other
=======================================================*/
.bl_other {
  padding-top: min(48 / 1280 * 100vw, 48px);
}
.bl_other_ttl {
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  padding: 0 0 min(7 / 1280 * 100vw, 7px) min(16 / 1280 * 100vw, 16px);
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d6bcbc;
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_other_ttl::before {
  position: absolute;
  content: "";
  width: min(4 / 1280 * 100vw, 4px);
  height: min(24 / 1280 * 100vw, 24px);
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #ba322f 0%, #6e1412 100%);
}
.bl_other_jobs_wrapper + .bl_other_jobs_wrapper {
  margin-top: min(8 / 1280 * 100vw, 8px);
}
.bl_other_jobs {
  line-height: calc(20 / 14);
  font-size: min(14 / 1280 * 100vw, 14px);
  color: #0000ff;
  text-decoration: underline;
  display: inline-block;
  max-width: min(828 / 1280 * 100vw, 828px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bl_other_btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: min(12 / 1280 * 100vw, 12px);
  line-height: calc(20 / 14);
  font-size: min(14 / 1280 * 100vw, 14px);
  color: #0000ff;
  align-items: center;
  gap: min(8 / 1280 * 100vw, 8px);
}
.bl_other_btn::after {
  content: "";
  background: url("../images/detail/other_btn_arrow.svg") top center / contain no-repeat;
  width: min(11 / 1280 * 100vw, 11px);
  height: min(6 / 1280 * 100vw, 6px);
}
.bl_other_btn.--js-close::after {
  transform: scale(1, -1);
}
@media screen and (min-width: 751px) {
  .bl_other .ly_cont_inner {
    width: min(828 / 1280 * 100vw, 828px);
  }
}
@media screen and (max-width: 750px) {
  .bl_other {
    padding-top: 64px;
  }
  .bl_other_ttl {
    font-size: 32px;
    padding: 0 0 14px 28px;
    border-width: 2px;
    margin-bottom: 36px;
  }
  .bl_other_ttl::before {
    width: 8px;
    height: calc(100% - 12px);
  }
  .bl_other_jobs_wrapper + .bl_other_jobs_wrapper {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #d6bcbc;
  }
  .bl_other_jobs {
      display: initial;
    text-decoration: none;
    font-size: 24px;
    max-width: 690px;
    white-space: initial;
    text-overflow: initial;
  }
  .bl_other_btn {
    margin-top: 18px;
    font-size: 24px;
    gap: 12px;
  }
  .bl_other_btn::after {
    width: 16.5px;
    height: 9px;
  }
}
/*=======================================================
既存CSS編集箇所
=======================================================*/
.bl_detail_head .bl_head_ditem {
  display: flex;
}
.bl_detail_head .bl_head_ditem > a {
  text-decoration: underline;
}
.bl_companyInfo_item .bl_item_txt a {
  text-decoration: underline;
}
.bl_conditions {
  padding-top: min(56 / 1280 * 100vw, 56px);
}
@media screen and (max-width: 750px) {
  .bl_conditions {
    padding-top: 64px;
  }
}
