/*=======================================================
mv
=======================================================*/
.bl_mv {
  background: url("../images/legal/mv_bg.jpg") top center/cover no-repeat;
}
.bl_mv_txt {
  margin-bottom: min(78 / 1280 * 100vw, 78px);
}
@media screen and (max-width: 750px) {
  .bl_mv {
    background: url("../images/legal/mv_bg_sp.jpg") top center/cover no-repeat;
  }
}