@charset "UTF-8";
/*=======================================================
lawyer共通
=======================================================*/
.ly_head.is_sticky .bl_head_logoTxt {
  color: #363636;
}
.bl_breadcrumbs {
  background: #363636;
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.bl_breadcrumbs_item {
  color: #fff;
}
.bl_breadcrumbs_item:first-of-type ~ li::before {
  background: url("../images/common/breadcrumbs_arrow__white.svg") top center/cover no-repeat;
}
@media screen and (max-width: 750px) {
  .bl_breadcrumbs {
    margin-bottom: 40px;
  }
}
/*=======================================================
card
=======================================================*/
.bl_card {
  width: calc((100% - min(30 / 1280 * 100vw, 30px) * 2) / 3);
}
.bl_card_list {
  display: flex;
  gap: min(30 / 1280 * 100vw, 30px);
}
.bl_card_imgWrapper {
  margin-bottom: min(16 / 1280 * 100vw, 16px);
}
.bl_card_ttl {
  padding-bottom: min(16 / 1280 * 100vw, 16px);
  margin-bottom: min(16 / 1280 * 100vw, 16px);
  border-bottom: 1px solid #9b1613;
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  text-align: center;
}
.bl_card_txt {
  font-size: min(14 / 1280 * 100vw, 14px);
}
@media screen and (max-width: 750px) {
  .bl_card {
    width: 100%;
  }
  .bl_card_list {
    gap: 64px;
    flex-wrap: wrap;
  }
  .bl_card_imgWrapper {
    margin-bottom: 32px;
  }
  .bl_card_ttl {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-width: 2px;
    font-size: 30px;
  }
  .bl_card_txt {
    font-size: 24px;
  }
}
/*=======================================================
mv
=======================================================*/
.bl_mv {
  height: min(700 / 1280 * 100vw, 700px);
  padding-top: min(167 / 1280 * 100vw, 167px);
}
.bl_mv_conts {
  margin-left: auto;
  width: min(620 / 1280 * 100vw, 620px);
}
.bl_mv_ttl {
  width: min(416 / 1280 * 100vw, 416px);
  margin-bottom: min(56 / 1280 * 100vw, 56px);
}
.bl_mv_txt {
  font-size: min(14 / 1280 * 100vw, 14px);
  margin-bottom: min(56 / 1280 * 100vw, 56px);
}
.bl_mv_btn {
  margin-right: auto;
}
@media screen and (max-width: 750px) {
  .bl_mv {
    height: 990px;
    padding-top: 180px;
  }
  .bl_mv_conts {
    margin: 0;
    width: auto;
  }
  .bl_mv_ttl {
    width: 518px;
    margin-bottom: 107px;
  }
  .bl_mv_txt {
    width: 470px;
    font-size: 24px;
    margin-bottom: 88px;
  }
  .bl_mv_btn {
    width: 100%;
  }
}
/*=======================================================
search
=======================================================*/
.bl_search {
  background: #363636;
  padding: min(16 / 1280 * 100vw, 16px) 0 min(64 / 1280 * 100vw, 64px);
}
.bl_search .el_sec_mainTtl {
  color: #fff;
}
.bl_search .bl_word_def {
  max-width: min(1024 / 1280 * 100vw, 1024px);
  margin: 0 auto min(24 / 1280 * 100vw, 24px);
}
.bl_search .bl_word_dttl {
  color: #ffffff;
  font-size: min(14 / 1280 * 100vw, 14px);
  margin-bottom: min(10 / 1280 * 100vw, 10px);
  font-weight: 700;
}
.bl_search .bl_word_ditem input {
  background: #fff;
  width: 100%;
  height: min(calc(40 / 1280 * 100vw), 40px);
  border-radius: min(calc(4 / 1280 * 100vw), 4px);
  padding: min(calc(9 / 1280 * 100vw), 9px) min(calc(16 / 1280 * 100vw), 16px) min(calc(11 / 1280 * 100vw), 11px);
  font-size: min(calc(14 / 1280 * 100vw), 14px);
}
.bl_search .bl_word_ditem input::placeholder {
  font-family: "noto-sans-jp", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.bl_search .bl_select_list {
  display: flex;
  justify-content: center;
  gap: min(32 / 1280 * 100vw, 32px);
  margin-bottom: min(24 / 1280 * 100vw, 24px);
  flex-wrap: wrap;
}
.bl_search .bl_select_item {
  width: min(320 / 1280 * 100vw, 320px);
  height: min(48 / 1280 * 100vw, 48px);
  position: relative;
}
.bl_search .bl_select_item::after {
  position: absolute;
  content: "";
  width: min(15 / 1280 * 100vw, 15px);
  height: min(9 / 1280 * 100vw, 9px);
  background: url("../images/common/search-select-arrow__red.svg") top center/contain no-repeat;
  top: 50%;
  right: min(16 / 1280 * 100vw, 16px);
  transform: translateY(-50%);
  pointer-events: none;
}
.bl_search .bl_select_item select {
  font-family: "noto-sans-jp", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: min(14 / 1280 * 100vw, 14px);
  width: 100%;
  height: 100%;
  background: #fff;
  padding: min(13 / 1280 * 100vw, 13px) min(24 / 1280 * 100vw, 24px) min(15 / 1280 * 100vw, 15px);
  border-radius: min(4 / 1280 * 100vw, 4px);
}
.bl_search_def {
  width: min(1024 / 1280 * 100vw, 1024px);
  margin: 0 auto min(24 / 1280 * 100vw, 24px);
}
.bl_search_def dt {
  color: #fff;
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  letter-spacing: 0.06em;
  background: linear-gradient(90deg, #6e5927 0%, #c3a45f 100%);
  border-radius: min(4 / 1280 * 100vw, 4px);
  height: min(48 / 1280 * 100vw, 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: min(2 / 1280 * 100vw, 2px);
}
.bl_search_def dd {
  background: #fff;
  padding-bottom: min(15 / 1280 * 100vw, 15px);
}
.bl_search_def dd .bl_dd_checkList {
  display: flex;
  gap: min(16 / 1280 * 100vw, 16px) min(24 / 1280 * 100vw, 24px);
  flex-wrap: wrap;
  padding: min(16 / 1280 * 100vw, 16px) min(100 / 1280 * 100vw, 100px);
  height: min(88 / 1280 * 100vw, 88px);
  overflow: hidden;
}
.bl_search_def dd .bl_dd_checkList.open {
  height: auto;
  overflow: visible;
}
.bl_search_def dd .bl_dd_checkItem label {
  display: flex;
  align-items: center;
  font-size: min(14 / 1280 * 100vw, 14px);
  gap: min(10 / 1280 * 100vw, 10px);
}
.bl_search_def dd input[type="checkbox"] {
  position: relative;
  width: min(16 / 1280 * 100vw, 16px);
  height: min(16 / 1280 * 100vw, 16px);
  display: block;
  border: 1px solid #363636;
  margin-top: min(3 / 1280 * 100vw, 3px);
}
.bl_search_def dd input[type="checkbox"]:checked::before {
  position: absolute;
  top: min(1 / 1280 * 100vw, 1px);
  left: min(4 / 1280 * 100vw, 4px);
  transform: rotate(50deg);
  width: min(6 / 1280 * 100vw, 6px);
  height: min(10 / 1280 * 100vw, 10px);
  border-right: 2px solid #9b1613;
  border-bottom: 2px solid #9b1613;
  content: "";
}
.bl_search_def dd .bl_dd_display {
  display: flex;
  justify-content: center;
}
.bl_search_def dd .bl_dd_display button {
  color: #9b1613;
  font-size: min(14 / 1280 * 100vw, 14px);
  font-weight: 700;
  position: relative;
  padding-right: min(20 / 1280 * 100vw, 20px);
  margin-left: min(20 / 1280 * 100vw, 20px);
}
.bl_search_def dd .bl_dd_display button::after {
  position: absolute;
  content: "";
  background: url("../images/common/search-select-arrow__red.svg") top center/contain no-repeat;
  width: min(15 / 1280 * 100vw, 15px);
  height: min(9 / 1280 * 100vw, 9px);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: min(2 / 1280 * 100vw, 2px) 0 0;
}
.bl_search_def dd .bl_dd_display button.open::after {
  transform: translateY(-50%) scale(1, -1);
  margin: 0 0 min(2 / 1280 * 100vw, 2px);
}
.bl_search_btn {
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .bl_search {
    padding: 24px 0 80px;
  }
  .bl_search .el_sec_mainTtl {
    margin-bottom: 56px;
  }
  .bl_search .bl_word_def {
    max-width: none;
    margin: 0 auto 32px;
  }
  .bl_search .bl_word_dttl {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .bl_search .bl_word_ditem input {
    height: 80px;
    border-radius: 4px;
    padding: 21px 30px 24px;
    font-size: 24px;
  }
  .bl_search .bl_select_list {
    gap: 30px;
    margin-bottom: 32px;
  }
  .bl_search .bl_select_item {
    width: 330px;
    height: 80px;
  }
  .bl_search .bl_select_item::after {
    width: 20px;
    height: 12px;
    background: url("../images/common/search-select-arrow__red-sp.svg") top center/contain no-repeat;
    right: 24px;
  }
  .bl_search .bl_select_item select {
    padding: 21px 58px 24px 30px;
    font-size: 24px;
  }
  .bl_search_def {
    width: 100%;
    margin-bottom: 32px;
  }
  .bl_search_def dt {
    font-size: 28px;
    border-radius: 0;
    height: 72px;
    padding-bottom: 4px;
  }
  .bl_search_def dd {
    padding-bottom: 40px;
  }
  .bl_search_def dd .bl_dd_checkList {
    gap: 24px 36px;
    padding: 46px 0 46px 39px;
    height: 368px;
  }
  .bl_search_def dd .bl_dd_checkItem {
    min-width: calc((100% - 17px - 36px) / 2);
  }
  .bl_search_def dd .bl_dd_checkItem label {
    gap: 16px;
    font-size: 28px;
  }
  .bl_search_def dd input[type="checkbox"] {
    width: 32px;
    height: 32px;
    border-width: 2px;
    margin-top: 4px;
  }
  .bl_search_def dd input[type="checkbox"]:checked::before {
    top: 0;
    left: 9px;
    width: 12px;
    height: 20px;
    border-width: 3px;
  }
  .bl_search_def dd .bl_dd_display button {
    font-size: 28px;
    padding-right: 36px;
    margin-left: 36px;
  }
  .bl_search_def dd .bl_dd_display button::after {
    background: url("../images/common/search-select-arrow__red-sp.svg") top center/contain no-repeat;
    width: 20px;
    height: 12px;
    margin: 3px 0 0;
  }
  .bl_search_def dd .bl_dd_display button.open::after {
    margin: 0 0 3px;
  }
}
/*=======================================================
feature
=======================================================*/
.bl_feature {
  padding: min(64 / 1280 * 100vw, 64px) 0;
  background: #f7f4f4;
}
.bl_feature .el_sec_mainTtl {
  letter-spacing: 0.06em;
  line-height: calc(29 / 20);
}
.bl_feature .el_sec_mainTtl .el_ttl_deco {
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  color: #fff;
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  letter-spacing: 0.06em;
  width: min(244 / 1280 * 100vw, 244px);
  height: min(28 / 1280 * 100vw, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: min(2 / 1280 * 100vw, 2px);
  margin: 0 auto min(8 / 1280 * 100vw, 8px);
}
@media screen and (max-width: 750px) {
  .bl_feature {
    padding: 80px 0;
  }
  .bl_feature .el_sec_mainTtl .el_ttl_deco {
    font-size: 28px;
    padding-bottom: 2px;
    margin-bottom: 16px;
    width: 462px;
    height: 58px;
  }
}
/*=======================================================
achievements
=======================================================*/
.bl_achievements {
  padding: min(64 / 1280 * 100vw, 64px) 0;
  background: #f7f4f4;
}
.bl_achievements .el_sec_mainTtl::after {
  background: url("../images/lawyer/ttl_deco_achievements.svg") top center/contain no-repeat;
  width: min(82 / 1280 * 100vw, 82px);
}
.bl_achievements_list {
  display: flex;
  flex-direction: column;
  gap: min(24 / 1280 * 100vw, 24px);
}
.bl_achievements .bl_item_ttl {
  background: #363636;
  color: #fff;
  padding: min(7 / 1280 * 100vw, 7px) 0 min(9 / 1280 * 100vw, 9px);
  font-size: min(16 / 1280 * 100vw, 16px);
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: min(16 / 1280 * 100vw, 16px);
}
.bl_achievements .bl_item_childList {
  display: flex;
  gap: min(16 / 1280 * 100vw, 16px);
  flex-wrap: wrap;
}
.bl_achievements .bl_item_childItem {
  width: calc((100% - min(16 / 1280 * 100vw, 16px) * 3) / 4);
  margin-top: min(56 / 1280 * 100vw, 56px);
  padding: min(72 / 1280 * 100vw, 72px) min(34 / 1280 * 100vw, 34px) min(16 / 1280 * 100vw, 16px);
  background: #fff;
  position: relative;
}
.bl_achievements .bl_item_childItem .bl_childItem_imgWrapper {
  position: absolute;
  width: min(112 / 1280 * 100vw, 112px);
  height: min(112 / 1280 * 100vw, 112px);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bl_achievements .bl_item_childItem .bl_childItem_list {
  display: flex;
  flex-direction: column;
  gap: min(45 / 1280 * 100vw, 45px);
  position: relative;
}
.bl_achievements .bl_item_childItem .bl_childItem_list::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: min(13 / 1280 * 100vw, 13px) min(16 / 1280 * 100vw, 16px) 0 min(16 / 1280 * 100vw, 16px);
  border-color: #363636 transparent transparent transparent;
  bottom: min(72 / 1280 * 100vw, 72px);
  left: 50%;
  transform: translateX(-50%);
}
.bl_achievements .bl_item_childItem .bl_childItem_def {
  font-size: min(14 / 1280 * 100vw, 14px);
  line-height: calc(20 / 14);
}
.bl_achievements .bl_item_childItem .bl_childItem_list > li:first-of-type .bl_childItem_def > dt {
  background: #363636;
}
.bl_achievements .bl_item_childItem .bl_childItem_list > li:nth-of-type(2) .bl_childItem_def > dt {
  background: #9b1613;
  font-weight: 700;
}
.bl_achievements .bl_item_childItem .bl_childItem_list > li:nth-of-type(2) .bl_childItem_def > dd {
  font-weight: 700;
}
.bl_achievements .bl_item_childItem .bl_childItem_def > dt {
  padding: min(3 / 1280 * 100vw, 3px) 0 min(5 / 1280 * 100vw, 5px);
  text-align: center;
  color: #fff;
}
.bl_achievements .bl_item_childItem .bl_childItem_def > dd {
  padding: min(3 / 1280 * 100vw, 3px) 0 min(5 / 1280 * 100vw, 5px);
  background: #f7f4f4;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .bl_achievements {
    padding: 80px 0;
  }
  .bl_achievements .el_sec_mainTtl::after {
    width: 142px;
  }
  .bl_achievements_list {
    gap: 80px;
  }
  .bl_achievements .bl_item_ttl {
    padding: 12px 16px 14px;
    font-size: 32px;
    margin-bottom: 24px;
  }
  .bl_achievements .bl_item_childList {
    gap: 34px;
  }
  .bl_achievements .bl_item_childItem {
    width: calc((100% - 34px) / 2);
    margin-top: 80px;
    padding: 104px 14px 30px;
  }
  .bl_achievements .bl_item_childItem .bl_childItem_imgWrapper {
    width: 160px;
    height: 160px;
  }
  .bl_achievements .bl_item_childItem .bl_childItem_list {
    gap: 76px;
  }
  .bl_achievements .bl_item_childItem .bl_childItem_list::after {
    border-width: 28px 35px 0 35px;
    bottom: 136px;
  }
  .bl_achievements .bl_item_childItem .bl_childItem_def > dt {
    padding: 9px 0 12px;
    font-size: 24px;
  }
  .bl_achievements .bl_item_childItem .bl_childItem_def > dd {
    padding: 7px 0 9px;
    font-size: 28px;
  }
}
/*=======================================================
interview
=======================================================*/
.bl_interview {
  padding: min(80 / 1280 * 100vw, 80px) 0;
  background: #363636;
}
.bl_interview .el_sec_mainTtl {
  color: #fff;
}
.bl_interview .el_sec_mainTtl::after {
  width: min(70 / 1280 * 100vw, 70px);
  background: url("../images/lawyer/ttl_deco_interview.svg") top center/contain no-repeat;
}
.bl_interview_slide {
  width: min(528 / 1280 * 100vw, 528px);
}
.bl_interview_slidesContainer {
  overflow: hidden;
}
.bl_interview_slidesContainerWrapper {
  position: relative;
  width: min(1088 / 1280 * 100vw, 1088px);
  margin: 0 auto;
}
.bl_interview_slide a {
  display: flex;
}
.bl_interview .bl_slide_btnWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}
.bl_interview .bl_slide_prev,
.bl_interview .bl_slide_next {
  width: min(40 / 1280 * 100vw, 40px);
  height: min(56 / 1280 * 100vw, 56px);
  background: url("../images/lawyer/interview_slider_arrow.svg") top center/cover no-repeat;
}
.bl_interview .bl_slide_prev::after,
.bl_interview .bl_slide_next::after {
  display: none;
}
.bl_interview .bl_slide_prev {
  left: min(-56 / 1280 * 100vw, -56px);
}
.bl_interview .bl_slide_next {
  transform: scale(-1, 1);
  right: min(-56 / 1280 * 100vw, -56px);
}
@media screen and (max-width: 750px) {
  .bl_interview {
    padding: 80px 0;
  }
  .bl_interview .el_sec_mainTtl::after {
    width: 94px;
  }
  .bl_interview_slide {
    width: 630px;
  }
  .bl_interview_slidesContainerWrapper {
    width: 630px;
  }
  .bl_interview .bl_slide_prev,
  .bl_interview .bl_slide_next {
    width: 54px;
    height: 84px;
  }
  .bl_interview .bl_slide_prev {
    left: -40px;
  }
  .bl_interview .bl_slide_next {
    right: -40px;
  }
}
