/*=======================================================
review_single
=======================================================*/
.bl_review.single {
  padding-bottom: min(64/1280 * 100vw, 64px);
}
.bl_review.single .bl_review_ttl {
  padding: min(11/1280 * 100vw, 11px) min(24/1280 * 100vw, 24px) min(10/1280 * 100vw, 10px);
  background: linear-gradient(90deg, #6e1412 0%, #ba322f 100%);
  color: #fff;
  font-size: min(20/1280 * 100vw, 20px);
  font-weight: 700;
  letter-spacing: 0.032em;
  line-height: calc(29 / 20);
}
.bl_review.single .bl_review_item {
  border: 1px solid #9b1613;
  border-top: none;
  padding: min(24/1280 * 100vw, 24px);
  background: #fff;
  margin-bottom: min(40/1280 * 100vw, 40px);
}
.bl_review.single .bl_review_item .bl_item_def {
  display: grid;
  gap: min(24/1280 * 100vw, 24px);
}
.bl_review.single .bl_review_item .bl_item_dwrap {
  display: grid;
  gap: min(16/1280 * 100vw, 16px);
}
.bl_review.single .bl_review_item .bl_item_dttl {
  background: #363636;
  color: #fff;
  font-size: min(16/1280 * 100vw, 16px);
  letter-spacing: 0.06em;
  font-weight: 700;
  padding: min(5/1280 * 100vw, 5px) min(12/1280 * 100vw, 12px) min(7/1280 * 100vw, 7px);
}
.bl_review.single .bl_review_item .bl_item_ditem {
  font-size: min(14/1280 * 100vw, 14px);
  line-height: calc(22 / 14);
}
.bl_review.single .bl_pager {
  padding-bottom: min(1/1280 * 100vw, 1px);
  display: grid;
  place-content: center;
  font-size: min(18/1280 * 100vw, 18px);
  font-weight: 700;
  letter-spacing: 0.025em;
  height: min(42/1280 * 100vw, 42px);
}
.bl_review.single .bl_pager_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(104/1280 * 100vw, 104px);
}
.bl_review.single .bl_pager_item.prev .bl_pager,
.bl_review.single .bl_pager_item.next .bl_pager {
  width: min(170/1280 * 100vw, 170px);
  position: relative;
}
.bl_review.single .bl_pager_item.prev .bl_pager::before,
.bl_review.single .bl_pager_item.prev .bl_pager::after,
.bl_review.single .bl_pager_item.next .bl_pager::before,
.bl_review.single .bl_pager_item.next .bl_pager::after {
  content: "";
  position: absolute;
  width: min(7/1280 * 100vw, 7px);
  height: min(2/1280 * 100vw, 2px);
  border-radius: 9999px;
}
.bl_review.single .bl_pager_item.prev .bl_pager::before,
.bl_review.single .bl_pager_item.next .bl_pager::before {
  transform: rotate(48.35deg);
}
.bl_review.single .bl_pager_item.prev .bl_pager::after,
.bl_review.single .bl_pager_item.next .bl_pager::after {
  transform: rotate(-48.35deg);
}
.bl_review.single .bl_pager_item.next {
  background: linear-gradient(90deg, #6e1412 0%, #ba322f 100%);
  color: #fff;
}
.bl_review.single .bl_pager_item.next .bl_pager::before,
.bl_review.single .bl_pager_item.next .bl_pager::after {
  top: calc(50% - min(0.5/1280 * 100vw, 0.5px));
  left: min(16/1280 * 100vw, 16px);
  background-color: #fff;
  transform-origin: min(0.5/1280 * 100vw, 0.5px) 50%;
}
.bl_review.single .bl_pager_item.archive {
  background: #363636;
  width: min(150/1280 * 100vw, 150px);
  color: #fff;
}
.bl_review.single .bl_pager_item.prev .bl_pager {
  border: 1px solid #9b1613;
  color: #9b1613;
  background: #fff;
}
.bl_review.single .bl_pager_item.prev .bl_pager::before,
.bl_review.single .bl_pager_item.prev .bl_pager::after {
  top: calc(50% - min(0.5/1280 * 100vw, 0.5px));
  right: min(16/1280 * 100vw, 16px);
  background-color: #9b1613;
  transform-origin: calc(100% - min(0.5/1280 * 100vw, 0.5px)) 50%;
}
@media screen and (max-width: 750px) {
  .bl_review.single {
    padding-bottom: 80px;
  }
  .bl_review.single .bl_review_ttl {
    padding: 12px 24px 16px;
    font-size: 30px;
  }
  .bl_review.single .bl_review_item {
    border-width: 2px;
    padding: 24px 32px 40px;
    margin-bottom: 64px;
  }
  .bl_review.single .bl_review_item .bl_item_def {
    gap: 32px;
  }
  .bl_review.single .bl_review_item .bl_item_dwrap {
    gap: 24px;
  }
  .bl_review.single .bl_review_item .bl_item_dttl {
    font-size: 26px;
    padding: 6px 16px 9px;
  }
  .bl_review.single .bl_review_item .bl_item_ditem {
    font-size: 24px;
  }
  .bl_review.single .bl_pager {
    padding-bottom: 4px;
    font-size: 30px;
    height: 72px;
  }
  .bl_review.single .bl_pager_list {
    gap: 40px;
  }
  .bl_review.single .bl_pager_item.prev .bl_pager,
  .bl_review.single .bl_pager_item.next .bl_pager {
    width: 300px;
  }
  .bl_review.single .bl_pager_item.prev .bl_pager::before,
  .bl_review.single .bl_pager_item.prev .bl_pager::after,
  .bl_review.single .bl_pager_item.next .bl_pager::before,
  .bl_review.single .bl_pager_item.next .bl_pager::after {
    width: 10.6px;
    height: 2px;
  }
  .bl_review.single .bl_pager_item.prev .bl_pager::before,
  .bl_review.single .bl_pager_item.next .bl_pager::before {
    transform: rotate(47.1deg);
  }
  .bl_review.single .bl_pager_item.prev .bl_pager::after,
  .bl_review.single .bl_pager_item.next .bl_pager::after {
    transform: rotate(-47.1deg);
  }
  .bl_review.single .bl_pager_item.next .bl_pager::before,
  .bl_review.single .bl_pager_item.next .bl_pager::after {
    left: 24px;
    transform-origin: 1px 50%;
  }
  .bl_review.single .bl_pager_item.archive {
    order: 1;
    width: 225px;
  }
  .bl_review.single .bl_pager_item.prev .bl_pager {
    border-width: 2px;
  }
  .bl_review.single .bl_pager_item.prev .bl_pager::before,
  .bl_review.single .bl_pager_item.prev .bl_pager::after {
    right: 24px;
    transform-origin: calc(100% - 1px) 50%;
  }
}
