@charset "utf-8";
/*
Author: あそびラボ
Version: 1.2
*/
/*=======================================================
　基本設定
=======================================================*/
@font-face {
  font-family: "noto-sans-jp";
  src: url(./fonts/Noto_Sans_JP/NotoSansJP-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "noto-sans-jp";
  src: url(./fonts/Noto_Sans_JP/NotoSansJP-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "noto-serif-jp";
  src: url(./fonts/Noto_Serif_JP/NotoSerifJP-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "noto-serif-jp";
  src: url(./fonts/Noto_Serif_JP/NotoSerifJP-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  line-break: strict;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
*:focus,
a:focus {
  outline: none;
}
body {
  background: #fff;
  font-family: "noto-sans-jp", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: min(calc(17 / 1280 * 100vw), 17px);
  line-height: 1.6;
  letter-spacing: 0.04em;
  -webkit-text-size-adjust: 100%;
  color: #222;
}
article,
aside,
figcaption,
figure,
picture,
footer,
main,
header,
nav,
section {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
ul,
ol {
  list-style: none;
}
p,
li,
dt,
dd,
th,
td {
  -ms-line-break: strict;
  line-break: strict;
  word-break: break-word;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  image-rendering: -webkit-optimize-contrast;
}
picture {
  line-height: 0;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: min(calc(17 / 1280 * 100vw), 17px);
  color: #222;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
input[type="checkbox"] {
  display: none;
}
input[type="radio"] {
  display: none;
}
button,
textarea {
  font-family: inherit;
  font-size: 100%;
}
/* PC SP */
.pc {
  display: initial;
}
.sp {
  display: none;
}
@media only screen and (min-device-width: 1025px) {
  /* PCのみホバー効果 */
  a,
  button,
  .hp_hover {
    transition: all 0.3s ease;
  }
  a:hover,
  button:hover,
  .hp_hover:hover {
    opacity: 0.7;
  }
  label:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 750px) {
  body,
  .ly_head,
  .ly_main,
  .ly_foot {
    min-width: 750px;
    max-width: 750px;
    width: 100%;
  }
  input,
  button,
  select,
  textarea {
    font-size: 28px;
  }
  body {
    font-size: 28px;
    line-height: 1.5;
  }
  .sp {
    display: initial;
  }
  .pc {
    display: none;
  }
}
/*=============================
　共通レイアウト
==============================*/
/* 全体のWrapper */
.ly_allWrapper {
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}
/* inner */
.ly_head_inner,
.ly_foot_inner,
.ly_cont,
.ly_cont_inner {
  width: min(calc(1200 / 1280 * 100vw), 1200px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* 2カラム */
.ly_cont__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 44px;
}
.ly_cont_main {
  width: 700px;
}
.ly_cont_side {
  width: 280px;
}
/* bl_media */
.bl_mediaList {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.bl_media {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  position: relative;
}
.bl_media_imgWrapper {
  flex: 0 1 496px;
}
.bl_media_body {
  flex: 1;
}
.bl_media_body > *:not(:first-of-type) {
  margin-top: 24px;
}
/* bl_btnList */
.bl_btnList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media screen and (max-width: 750px) {
  /* inner */
  .ly_head_inner,
  .ly_foot_inner,
  .ly_cont,
  .ly_cont_inner {
    width: 690px;
  }
  /* 2カラム */
  .ly_cont__col {
    gap: 80px;
  }
  .ly_cont_main,
  .ly_cont_side {
    width: 100%;
  }
  /* bl_media */
  .bl_media_imgWrapper {
    flex: 0 1 100%;
  }
}
/*=============================
　下層MV - パンくず
==============================*/
/* MV */
.bl_lower_mv {
  height: 150px;
  background: #ccc;
}
.bl_lower_mv_ttl {
  width: 1024px;
  margin: 0 auto;
  padding-top: 56px;
  text-align: center;
}
/* パンくず */
.bl_breadcrumbs {
  width: min(1200 / 1280 * 100vw, 1200px);
  margin: 0 auto min(calc(40 / 1280 * 100vw), 40px);
}
.bl_breadcrumbs_list {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
.bl_breadcrumbs_item {
  font-size: min(calc(12 / 1280 * 100vw), 12px);
  position: relative;
  display: flex;
  align-items: center;
}
.bl_breadcrumbs_item:first-of-type ~ li::before {
  content: "";
  background: url("./images/common/breadcrumbs_arrow.svg") top center / cover no-repeat;
  margin: 0 min(calc(6 / 1280 * 100vw), 6px);
  display: block;
  width: min(calc(4 / 1280 * 100vw), 4px);
  height: min(calc(8 / 1280 * 100vw), 8px);
}
@media screen and (max-width: 750px) {
  /* MV */
  .bl_lower_mv {
    height: 200px;
  }
  .bl_lower_mv_ttl {
    width: 750px;
  }
  .bl_breadcrumbs {
    width: 690px;
    margin-bottom: 80px;
  }
  .bl_breadcrumbs_item {
    font-size: 22px;
  }
  .bl_breadcrumbs_item:first-of-type ~ li::before {
    width: 9px;
    height: 15px;
    margin: 0 16px;
  }
}
/*=============================
　共通パーツ
==============================*/
/* bl_bulletList */
.bl_bulletList > li {
  padding-left: 1em;
  position: relative;
}
.bl_bulletList > li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.bl_bulletList.bl_bulletList__square > li {
  padding-left: calc(1em + 8px);
}
.bl_bulletList.bl_bulletList__square > li::before {
  content: "□";
}
/* bl_numList */
.bl_numList {
  counter-reset: num;
}
.bl_numList > li {
  padding-left: 1.2em;
  position: relative;
}
.bl_numList > li:before {
  counter-increment: num;
  content: counter(num) ".";
  position: absolute;
  top: 0;
  left: 0;
}
.bl_numList.bl_numList__circle > li:first-of-type::before {
  content: "①";
}
.bl_numList.bl_numList__circle > li:nth-of-type(2)::before {
  content: "②";
}
.bl_numList.bl_numList__circle > li:nth-of-type(3)::before {
  content: "③";
}
.bl_numList.bl_numList__circle > li:nth-of-type(4)::before {
  content: "④";
}
.bl_numList.bl_numList__circle > li:nth-of-type(5)::before {
  content: "⑤";
}
/* el_btn */
.el_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: min(calc(2 / 1280 * 100vw), 2px);
}
.el_btn__arrow {
  border-radius: min(calc(2 / 1280 * 100vw), 2px);
  width: min(calc(400 / 1280 * 100vw), 400px);
  height: min(calc(56 / 1280 * 100vw), 56px);
  padding-bottom: min(calc(4 / 1280 * 100vw), 4px);
  font-size: min(calc(18 / 1280 * 100vw), 18px);
  letter-spacing: 0.06em;
  font-weight: 700;
}
.el_btn__arrow::after {
  position: absolute;
  content: "";
  width: min(calc(9 / 1280 * 100vw), 9px);
  height: min(calc(15 / 1280 * 100vw), 15px);
  top: 50%;
  right: min(calc(16 / 1280 * 100vw), 16px);
  transform: translateY(-50%);
  background: url("./images/common/btn_arrow.svg") top center / contain no-repeat;
}
.el_btn__arrow.el_red {
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  color: #fff;
  box-shadow: 0px 0px min(calc(20 / 1280 * 100vw), 20px) #530e0c33;
}
.el_btn__arrow.el_gold {
  background: linear-gradient(90deg, #6e5927 0%, #c3a45f 100%);
  color: #fff;
  box-shadow: 0px 0px min(calc(20 / 1280 * 100vw), 20px) #530e0c33;
}
.el_btn__search {
  border-radius: min(calc(2 / 1280 * 100vw), 2px);
  width: min(calc(400 / 1280 * 100vw), 400px);
  height: min(calc(56 / 1280 * 100vw), 56px);
  padding-bottom: min(calc(3 / 1280 * 100vw), 3px);
  font-size: min(calc(18 / 1280 * 100vw), 18px);
  letter-spacing: 0.06em;
  font-weight: 700;
}
.el_btn__search::after {
  position: absolute;
  content: "";
  width: min(calc(20 / 1280 * 100vw), 20px);
  height: min(calc(20 / 1280 * 100vw), 20px);
  top: 50%;
  right: min(calc(26 / 1280 * 100vw), 26px);
  transform: translateY(-50%);
  background: url("./images/common/icon_search.svg") top center / contain no-repeat;
}
.el_btn__search.el_red {
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  color: #fff;
  box-shadow: 0px 0px min(calc(20 / 1280 * 100vw), 20px) #530e0c33;
  border: 1px solid #fff;
}
.el_btn__more {
  border-radius: min(calc(2 / 1280 * 100vw), 2px);
  width: min(calc(400 / 1280 * 100vw), 400px);
  height: min(calc(72 / 1280 * 100vw), 72px);
  padding-bottom: min(calc(3 / 1280 * 100vw), 3px);
  font-size: min(calc(20 / 1280 * 100vw), 20px);
  letter-spacing: 0.06em;
  font-weight: 700;
}
.el_btn__more::after {
  position: absolute;
  content: "";
  width: min(calc(13 / 1280 * 100vw), 13px);
  height: min(calc(8 / 1280 * 100vw), 8px);
  top: 50%;
  right: min(calc(16 / 1280 * 100vw), 16px);
  transform: translateY(-50%);
  background: url("./images/common/btn_more.svg") top center / cover no-repeat;
}
.el_btn__more.close::after {
  transform: translateY(-50%) scale(1, -1);
}
.el_btn__more.el_red {
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  color: #fff;
  box-shadow: 0px 0px min(calc(20 / 1280 * 100vw), 20px) #530e0c33;
}
/* el_label */
.el_label {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
}
/* ※ */
.el_att {
  padding-left: 1em;
  position: relative;
}
.el_att::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
}
span.el_att {
  display: block;
}
.el_link {
  text-decoration: underline;
  color: #0000ff;
}
.el_txt {
  text-align: center;
}
@media screen and (max-width: 750px) {
  /* el_btn */
  .el_btn {
    padding-bottom: 3px;
  }
  .el_btn__arrow {
    border-radius: 3px;
    width: 600px;
    height: 96px;
    padding-bottom: 4px;
    font-size: 30px;
    text-align: center;
  }
  .el_btn__arrow::after {
    width: 12px;
    height: 20px;
    right: 24px;
    background: url("./images/common/btn_arrow_sp.svg") top center / contain no-repeat;
  }
  .el_btn__search {
    border-radius: 3px;
    width: 600px;
    height: 96px;
    padding-bottom: 4px;
    font-size: 30px;
  }
  .el_btn__search::after {
    width: 34px;
    height: 34px;
    right: 32px;
  }
  .el_btn__search.el_red {
    border-width: 2px;
  }
  .el_btn__more {
    border-radius: 3px;
    width: 600px;
    height: 96px;
    padding-bottom: 4px;
    font-size: 30px;
    text-align: center;
  }
  .el_btn__more::after {
    width: 20px;
    height: 12px;
    right: 24px;
  }
}
/*=============================
　ヘルプタグ
==============================*/
/* ユニット */
.hp_unit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 明朝体 */
.hp_mincho {
  font-family: "noto-serif-jp", "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: bold;
}
/* bold */
.hp_bold {
  font-weight: bold !important;
}
/* italic */
.hp_italic {
  transform: skewX(-10deg);
}
/* 打ち消し線 */
.hp_strikethrough {
  padding: 3px 0 0 8px;
  background-image: linear-gradient(#222, #222);
  background-position: 0 50%;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  letter-spacing: 0;
}
/* opacity1 */
.hp_opacity1 {
  opacity: 1 !important;
}
/* 電話リンク */
.hp_tel {
  pointer-events: none;
}
/* アクセントカラー */
.hp_color__accent {
  color: #ffdd91;
}
.hp_color__accent02 {
  color: #9b1613;
}
/* 影付き角丸白ボックス */
.hp_shadowRadiusWhiteBox {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.35);
}
@media screen and (max-width: 750px) {
  /* ユニット */
  .hp_unit {
    display: block;
  }
  /* 電話リンク */
  .hp_tel {
    pointer-events: auto;
  }
}
/*=============================
　header
==============================*/
.ly_head {
  width: 100%;
  height: min(calc(72 / 1280 * 100vw), 72px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.ly_head.is_sticky {
  background: #fff;
  box-shadow: 0 0 min(calc(16 / 1280 * 100vw), 16px) rgb(0 0 0 / 32%);
}
.ly_head.is_sticky .is_notScroll {
  display: none;
}
.ly_head.is_sticky .is_scroll {
  display: flex;
}
.ly_head .is_scroll,
.ly_head .sp_scroll {
  display: none;
}
.bl_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ロゴ */
.bl_head_logoGroup {
  display: grid;
  place-content: center;
  place-items: start;
  gap: min(calc(7 / 1280 * 100vw), 7px);
}
.bl_head_logo {
  width: min(calc(143 / 1280 * 100vw), 143px);
}
.bl_head_logoTxt {
  font-size: min(calc(12 / 1280 * 100vw), 12px);
  text-align: center;
}
.bl_head_linkList {
  display: flex;
  align-items: center;
  gap: min(calc(32 / 1280 * 100vw), 32px);
}
/* ナビ */
.bl_gloNav {
  z-index: 100;
}
.bl_gloNav_inner {
  display: flex;
  align-items: center;
  gap: min(calc(32 / 1280 * 100vw), 32px);
  font-weight: 700;
  font-size: min(calc(14 / 1280 * 100vw), 14px);
}
.bl_head_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(240 / 1280 * 100vw), 240px);
  height: min(calc(48 / 1280 * 100vw), 48px);
  border-radius: min(calc(2 / 1280 * 100vw), 2px);
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  padding-bottom: min(calc(2 / 1280 * 100vw), 2px);
  font-size: min(calc(16 / 1280 * 100vw), 16px);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #fff;
}
/* スマホ用非表示 */
.bl_burger {
  display: none;
}
@media screen and (max-width: 750px) {
  .ly_main {
    padding-top: 0;
  }
  .ly_head {
    height: 100px;
    background: #fff;
  }
  .ly_head_inner {
    width: 100%;
    z-index: 110;
    padding: 0 30px;
    justify-content: space-between;
  }
  .bl_head_search {
    padding-top: 48px;
    font-size: 17px;
    letter-spacing: 0;
    color: #9b1613;
    line-height: calc(25 / 17);
    position: relative;
  }
  .bl_head_search::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 44px;
    height: 44px;
    background: url("./images/common/icon_search__red.svg") top center / contain no-repeat;
  }
  /* ロゴ */
  .bl_head_logo {
    width: 224px;
  }
  .bl_head_btnItem.pc {
    display: none;
  }
  /* ハンバーガーボタン */
  .bl_burger {
    display: grid;
    gap: 6px;
    position: relative;
    z-index: 999;
  }
  .bl_burger_bars {
    display: block;
    width: 48px;
    height: 32px;
    position: relative;
  }
  .bl_burger_bar {
    width: 100%;
    height: 4px;
    background: #9b1613;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
  }
  .bl_burger_bar:first-child {
    top: 0;
  }
  .bl_burger_bar:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .bl_burger_bar:nth-child(3) {
    top: calc(100% - (4px / 2));
  }
  .bl_burger.is_active .bl_burger_bar:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .bl_burger.is_active .bl_burger_bar:nth-child(2) {
    opacity: 0;
  }
  .bl_burger.is_active .bl_burger_bar:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .bl_burger_txt {
    font-size: 17px;
    color: #9b1613;
    line-height: calc(25 / 17);
    transition: transform 0.3s ease;
  }
  .bl_burger.is_active .bl_burger_txt {
    opacity: 0;
  }
  /* ナビ */
  .bl_head_linkList {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 90;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: calc(100% - 100px);
    background: #fff;
    align-items: start;
  }
  .bl_head_linkList.is_active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .bl_head_linkItem {
    width: 100%;
  }
  .bl_gloNav_inner {
    width: 100%;
    height: auto;
    display: grid;
    gap: 0;
    overflow: scroll;
  }
  .bl_gloNav_inner > li {
    display: block;
    width: 100%;
  }
  .bl_gloNav_inner > li > a {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    padding: 29px 30px 32px;
    border-bottom: 2px solid #dddddd;
    position: relative;
  }
  .bl_gloNav_inner > li:first-of-type > a {
    border-top: 2px solid #dddddd;
  }
  .bl_gloNav_inner > li > a::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 22px;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    background: url("./images/common/burger_arrow.svg") top center / contain no-repeat;
  }
}
/*=============================
　footer
=============================*/
.ly_main {
  min-height: calc(100vh - min(calc(207 / 1280 * 100vw), 207px)); /* pxはfooterの高さ */
}
.ly_foot {
  background: #363636;
}
.bl_foot {
  padding: min(calc(32 / 1280 * 100vw), 32px) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* ロゴ */
.bl_foot_logoGroup {
  display: flex;
  flex-direction: column;
  gap: min(calc(7 / 1280 * 100vw), 7px);
}
.bl_foot_logo {
  display: flex;
  width: min(calc(184 / 1280 * 100vw), 184px);
}
.bl_foot_logoTxt {
  font-size: min(calc(12 / 1280 * 100vw), 12px);
  color: #fff;
  letter-spacing: 0.1em;
}
/* ナビ */
.bl_foot_menuWrapper {
  display: grid;
  gap: 24px;
}
.bl_foot_gloNav {
  border-bottom: 1px solid #707070;
  padding-bottom: 24px;
}
.bl_foot_gloNav_inner {
  display: flex;
  flex-wrap: wrap;
  gap: min(calc(24 / 1280 * 100vw), 24px) min(calc(32 / 1280 * 100vw), 32px);
  width: min(calc(660 / 1280 * 100vw), 660px);
}
.bl_foot_gloNav_inner > li {
  display: flex;
}
.bl_foot_gloNav_inner > li:nth-of-type(4)::after {
  content: "";
  width: min(calc(100 / 1280 * 100vw), 100px);
}
.bl_foot_gloNav_inner > li > a {
  padding-left: min(calc(14 / 1280 * 100vw), 14px);
  font-size: min(calc(14 / 1280 * 100vw), 14px);
  letter-spacing: 0.04em;
  color: #fff;
  position: relative;
}
.bl_foot_gloNav_inner > li > a::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: min(calc(5 / 1280 * 100vw), 5px) 0 min(calc(5 / 1280 * 100vw), 5px) min(calc(8 / 1280 * 100vw), 8px);
  border-color: transparent transparent transparent #c3a45f;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.bl_foot_menus {
  display: flex;
  gap: min(calc(32 / 1280 * 100vw), 32px);
}
.bl_foot_menu {
  font-size: min(calc(14 / 1280 * 100vw), 14px);
  color: #fff;
}
/* コピーライト */
.bl_foot_copyright {
  width: 100%;
  height: min(calc(28 / 1280 * 100vw), 28px);
  background: #9b1613;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: min(calc(3 / 1280 * 100vw), 3px);
}
.bl_foot_copyright small {
  color: #fff;
  font-size: min(calc(12 / 1280 * 100vw), 12px);
  font-family: Verdana; /* Android */
}
/* ページトップボタン */
.bl_pagetop {
  width: min(calc(1024 / 1280 * 100vw), 1024px);
  height: 0;
  margin: 0 auto;
  text-align: right;
  position: relative;
}
.bl_pagetop span {
  width: min(calc(64 / 1280 * 100vw), 64px);
  height: min(calc(64 / 1280 * 100vw), 64px);
  z-index: 80;
  position: fixed;
  bottom: min(calc(30 / 1280 * 100vw), 30px);
}
.bl_pagetop span.btm {
  position: absolute;
  bottom: min(calc(14 / 1280 * 100vw), 14px);
}
.bl_pagetop img {
  opacity: 0;
}
.bl_pagetop .fade img {
  transition: all 0.5s ease-in-out;
}
.bl_pagetop .in img {
  opacity: 1;
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  /* ページトップボタン */
  .bl_pagetop {
    width: 100%;
  }
  .bl_pagetop span {
    right: 30px;
  }
}
@media screen and (max-width: 750px) {
  /* footer */
  .ly_main {
    min-height: calc(100vh - 823px); /* pxはfooterの高さ */
  }
  .bl_foot {
    padding: 40px 0;
    justify-content: center;
    gap: 40px;
  }
  /* ロゴ */
  .bl_foot_logoGroup {
    order: 2;
  }
  .bl_foot_logo {
    width: 100%;
    justify-content: center;
  }
  .bl_foot_logo > img {
    width: 324px;
  }
  /* ナビ */
  .bl_foot_menuWrapper {
    gap: 40px;
    width: 100%;
  }
  .bl_foot_gloNav {
    width: 100%;
    padding-bottom: 40px;
  }
  .bl_foot_gloNav_inner {
    gap: 32px 0;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    width: 100%;
  }
  .bl_foot_gloNav_inner > li:nth-of-type(4)::after {
    display: none;
  }
  .bl_foot_gloNav_inner > li > a {
    padding-left: 20px;
    font-size: 21px;
    width: 100%;
  }
  .bl_foot_gloNav_inner > li > a::before {
    border-width: 8px 0 8px 12px;
  }
  .bl_foot_menus {
    gap: 40px;
    justify-content: center;
  }
  .bl_foot_menu {
    font-size: 21px;
  }
  /* コピーライト */
  .bl_foot_copyright {
    height: 42px;
    padding-bottom: 4px;
  }
  .bl_foot_copyright small {
    font-size: 18px;
  }
  /* ページトップボタン */
  .bl_pagetop {
    width: 750px;
  }
  .bl_pagetop span {
    width: 110px;
    height: 110px;
    right: 25px;
    bottom: 25px;
    bottom: 220px;
  }
  .bl_pagetop span.btm {
    bottom: 29px;
  }
  .bl_foot_btmBnr {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    z-index: 90;
  }
  .bl_foot_btmBnr .bl_btmBnr_btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    width: 100%;
    background: linear-gradient(270deg, #6e5927 0%, #c3a45f 100%);
    padding: 24px 40px 28px;
    height: auto;
  }
  .bl_foot_btmBnr .bl_btmBnr_btn_deco {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 32px 6px;
    background: #fff;
    border-radius: 27px;
    color: #c3a45f;
    font-size: 28px;
  }
  .bl_foot_btmBnr .bl_btmBnr_btn_deco::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 20px 0 20px;
    border-color: #fff transparent transparent transparent;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
  }
}
/*=======================================================
faq
=======================================================*/
.bl_faq {
  padding: min(calc(64 / 1280 * 100vw), 64px) 0;
}
.bl_faq .el_sec_mainTtl {
  padding-bottom: min(calc(28 / 1280 * 100vw), 28px);
  margin-bottom: min(calc(24 / 1280 * 100vw), 24px);
}
.bl_faq .el_sec_mainTtl::after {
  background: url("./images/common/ttl_deco_faq.svg") top center / contain no-repeat;
  width: min(calc(20 / 1280 * 100vw), 20px);
  height: min(calc(16 / 1280 * 100vw), 16px);
}
.bl_faq_def {
  display: grid;
  gap: min(calc(24 / 1280 * 100vw), 24px);
}
.bl_faq_def > div {
  display: grid;
  gap: min(calc(16 / 1280 * 100vw), 16px);
}
.bl_faq_def > div > dt {
  padding: 0 min(calc(62 / 1280 * 100vw), 62px) 0 min(calc(16 / 1280 * 100vw), 16px);
  position: relative;
  background: #363636;
  cursor: pointer;
}
.bl_faq_def > div > dt::before {
  position: absolute;
  content: "";
  width: min(calc(30 / 1280 * 100vw), 30px);
  height: min(calc(30 / 1280 * 100vw), 30px);
  background: #fff;
  border-radius: min(calc(2 / 1280 * 100vw), 2px);
  top: 50%;
  right: min(calc(16 / 1280 * 100vw), 16px);
  transform: translateY(-50%);
}
.bl_faq_def > div > dt::after {
  position: absolute;
  content: "";
  width: min(calc(14 / 1280 * 100vw), 14px);
  height: min(calc(12 / 1280 * 100vw), 12px);
  background: url("./images/common/faq_arrow.svg") top center / contain no-repeat;
  top: 50%;
  right: min(calc(24 / 1280 * 100vw), 24px);
  transform: translateY(-50%) scale(1, -1);
}
.bl_faq_def > div > dt.open::after {
  transform: translateY(-50%);
}
.bl_faq_def > div > dt span {
  font-size: min(calc(14 / 1280 * 100vw), 14px);
  font-weight: 700;
  color: #fff;
  position: relative;
  padding: min(calc(13 / 1280 * 100vw), 13px) 0 min(calc(15 / 1280 * 100vw), 15px) min(calc(48 / 1280 * 100vw), 48px);
  display: block;
}
.bl_faq_def > div > dt span::before {
  position: absolute;
  content: "";
  width: min(calc(32 / 1280 * 100vw), 32px);
  height: min(calc(32 / 1280 * 100vw), 32px);
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.bl_faq_def > div > dt span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: min(calc(12 / 1280 * 100vw), 12px);
  transform: translateY(-50%);
  background: url("./images/common/faq_q.svg") top center / contain no-repeat;
  width: min(calc(8 / 1280 * 100vw), 8px);
  height: min(calc(22 / 1280 * 100vw), 22px);
}
.bl_faq_def > div > dd {
  font-size: min(calc(14 / 1280 * 100vw), 14px);
  padding: min(calc(5 / 1280 * 100vw), 5px) 0 0 min(calc(64 / 1280 * 100vw), 64px);
  position: relative;
  display: none;
}
.bl_faq_def > div > dd::before {
  position: absolute;
  content: "";
  width: min(calc(32 / 1280 * 100vw), 32px);
  height: min(calc(32 / 1280 * 100vw), 32px);
  background: #fff;
  border-radius: 50%;
  top: 0;
  left: min(calc(16 / 1280 * 100vw), 16px);
  border: 1px solid #9b1613;
}
.bl_faq_def > div > dd::after {
  position: absolute;
  content: "";
  width: min(calc(10 / 1280 * 100vw), 10px);
  height: min(calc(20 / 1280 * 100vw), 20px);
  background: url("./images/common/faq_a.svg") top center / contain no-repeat;
  top: min(calc(6 / 1280 * 100vw), 6px);
  left: min(calc(27 / 1280 * 100vw), 27px);
}
@media screen and (max-width: 750px) {
  .bl_faq {
    padding: 80px 0;
  }
  .bl_faq .el_sec_mainTtl {
    font-size: 36px;
    padding-bottom: 0;
    margin-bottom: 48px;
  }
  .bl_faq .el_sec_mainTtl::after {
    width: 34px;
    height: 26px;
  }
  .bl_faq_def {
    gap: 36px;
  }
  .bl_faq_def > div {
    gap: 20px;
  }
  .bl_faq_def > div > dt {
    padding: 0 70px 0 16px;
  }
  .bl_faq_def > div > dt::before {
    width: 40px;
    height: 40px;
    right: 14px;
  }
  .bl_faq_def > div > dt::after {
    width: 18px;
    height: 16px;
    right: 25px;
  }
  .bl_faq_def > div > dt span {
    font-size: 28px;
    padding: 14px 0 18px 64px;
  }
  .bl_faq_def > div > dt span::before {
    width: 48px;
    height: 48px;
  }
  .bl_faq_def > div > dt span::after {
    left: 18px;
    width: 12px;
    height: 34px;
  }
  .bl_faq_def > div > dd {
    padding: 0 0 0 80px;
    font-size: 24px;
  }
  .bl_faq_def > div > dd::before {
    width: 48px;
    height: 48px;
    border-width: 2px;
    left: 16px;
  }
  .bl_faq_def > div > dd::after {
    width: 14px;
    height: 30px;
    top: 9px;
    left: 33px;
  }
}
/*=======================================================
共通
=======================================================*/
.el_sec_mainTtl {
  text-align: center;
  line-height: 1.5;
  position: relative;
  font-size: min(calc(20 / 1280 * 100vw), 20px);
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: min(calc(24 / 1280 * 100vw), 24px);
}
.el_deco_under {
  padding-bottom: min(calc(26 / 1280 * 100vw), 26px);
  position: relative;
}
.el_deco_under::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: min(calc(14 / 1280 * 100vw), 14px);
}
@media screen and (max-width: 750px) {
  .el_sec_mainTtl {
    font-size: 36px;
    margin-bottom: 32px;
  }
  .el_deco_under {
    padding-bottom: 0;
  }
  .el_deco_under::after {
    display: none;
  }
}
/*=======================================================
下層ページ共通
=======================================================*/
.ly_lower_allWrapper .ly_head {
  background: #fff;
  box-shadow: 0 0 min(calc(16 / 1280 * 100vw), 16px) rgb(0 0 0 / 32%);
}
.ly_lower_allWrapper .ly_main {
  margin-top: min(calc(72 / 1280 * 100vw), 72px);
}
@media screen and (max-width: 750px) {
  .ly_lower_allWrapper .ly_main {
    margin-top: 100px;
  }
}
/*=======================================================
lowerCta
=======================================================*/
.bl_lowerCta {
  padding-top: min(64 / 1280 * 100vw, 64px);
  height: min(324 / 1280 * 100vw, 324px);
  background: url("./images/common/cta_bg.jpg") center center/ 2000px 414px no-repeat;
}
.bl_lowerCta .el_sec_mainTtl {
  width: min(462 / 1280 * 100vw, 462px);
  margin: 0 auto min(40 / 1280 * 100vw, 40px);
}
.bl_lowerCta_btn {
  margin: 0 auto;
  border: 1px solid #fff;
}
@media screen and (max-width: 750px) {
  .bl_lowerCta {
    padding-top: 80px;
    height: 442px;
    background: url("./images/common/cta_bg_sp.jpg") bottom right/ 750px 716px no-repeat;
  }
  .bl_lowerCta .el_sec_mainTtl {
    width: 630px;
    margin-bottom: 64px;
  }
  .bl_lowerCta_btn {
    border-width: 2px;
  }
}
/*=======================================================
conditions
=======================================================*/
.bl_conditions {
  background: #f7f4f4;
  padding: min(64 / 1280 * 100vw, 64px) 0;
}
.bl_conditions .el_sec_mainTtl::after {
  background: url("./images/lawyer/ttl_deco_search.svg") top center/contain no-repeat;
  width: min(38 / 1280 * 100vw, 38px);
}
.bl_conditions_list {
  display: flex;
  flex-wrap: wrap;
  gap: min(24 / 1280 * 100vw, 24px);
}
.bl_conditions_item {
  width: 100%;
}
.bl_conditions_item .bl_item_def {
  display: grid;
  gap: min(16 / 1280 * 100vw, 16px);
}
.bl_conditions_item .bl_item_def > dt {
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  padding: 0 0 min(7 / 1280 * 100vw, 7px) min(16 / 1280 * 100vw, 16px);
  position: relative;
  width: 100%;
  border-bottom: 1px solid #d6bcbc;
}
.bl_conditions_item .bl_item_def > dt::before {
  position: absolute;
  content: "";
  width: min(4 / 1280 * 100vw, 4px);
  height: min(24 / 1280 * 100vw, 24px);
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #ba322f 0%, #6e1412 100%);
}
.bl_conditions_item .bl_item_def > dd .bl_dd_list {
  display: flex;
  flex-wrap: wrap;
  font-size: min(14 / 1280 * 100vw, 14px);
  gap: min(16 / 1280 * 100vw, 16px) min(32 / 1280 * 100vw, 32px);
}
.bl_conditions_item .bl_item_def > dd .bl_dd_item > a {
  text-decoration: underline;
  position: relative;
}
.bl_conditions_item .bl_item_def > dd .bl_dd_item > a::after {
  position: absolute;
  content: "";
  width: min(1 / 1280 * 100vw, 1px);
  height: min(17 / 1280 * 100vw, 17px);
  background: #cccccc;
  top: 50%;
  right: clamp(-16px, -1.25vw, -1.25vw);
  transform: translateY(-50%);
}
.bl_conditions_item .bl_item_def > dd .bl_ddItem_list {
  display: flex;
  flex-wrap: wrap;
  gap: min(32 / 1280 * 100vw, 32px);
}
.bl_conditions_item .bl_item_def > dd .bl_ddItem_item > a {
  text-decoration: underline;
  position: relative;
}
.bl_conditions_item .bl_item_def > dd .bl_ddItem_item > a::after {
  position: absolute;
  content: "";
  width: min(1 / 1280 * 100vw, 1px);
  height: min(17 / 1280 * 100vw, 17px);
  background: #cccccc;
  top: 50%;
  right: clamp(-16px, -1.25vw, -1.25vw);
  transform: translateY(-50%);
}
.bl_conditions_item .bl_item_def > dd .bl_dd_item:last-of-type > a::after,
.bl_conditions_item .bl_item_def > dd .bl_ddItem_item:last-of-type > a::after {
  display: none;
}
#conditions_location .bl_dd_list {
  display: grid;
}
@media screen and (max-width: 750px) {
  .bl_conditions {
    padding: 80px 0;
  }
  .bl_conditions_list {
    gap: 40px;
  }
  .bl_conditions_item .bl_item_def {
    gap: 16px;
  }
  .bl_conditions_item .bl_item_def > dt {
    font-size: 32px;
    padding: 0 0 14px 28px;
    border-width: 2px;
  }
  .bl_conditions_item .bl_item_def > dt::before {
    width: 8px;
    height: calc(100% - 12px);
  }
  .bl_conditions_item .bl_item_def > dd .bl_dd_list {
    gap: 16px 32px;
    font-size: 24px;
  }
  .bl_conditions_item .bl_item_def > dd .bl_dd_item > a::after {
    width: 2px;
    height: 32px;
    right: -15px;
  }
  .bl_conditions_item .bl_item_def > dd .bl_ddItem_list {
    gap: 16px 32px;
  }
  .bl_conditions_item .bl_item_def > dd .bl_ddItem_item > a::after {
    width: 2px;
    height: 32px;
    right: -15px;
  }
  .bl_conditions_item .bl_item_def > dd .bl_ddItem_item:nth-of-type(5) > a::after {
    display: none;
  }
  #conditions_location .bl_dd_list {
    display: grid;
  }
}
/*=======================================================
side
=======================================================*/
.ly_cont_side {
  width: min(340 / 1280 * 100vw, 340px);
}
.ly_cont_side .bl_side_search {
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.ly_cont_side .bl_side_search .bl_search_ttl {
  height: min(48 / 1280 * 100vw, 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #363636;
  color: #fff;
  padding-bottom: min(2 / 1280 * 100vw, 2px);
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
}
.ly_cont_side .bl_side_search .bl_search_conts {
  padding: min(24 / 1280 * 100vw, 28px);
  background: #fff;
  border: 1px solid #dddddd;
}
.ly_cont_side .bl_side_search .bl_search_def {
  margin-bottom: min(24 / 1280 * 100vw, 24px);
}
.ly_cont_side .bl_side_search .bl_search_def > div:first-of-type {
  padding-top: 0;
}
.ly_cont_side .bl_side_search .bl_search_def > div {
  border-bottom: 1px solid #cccccc;
  padding: min(8 / 1280 * 100vw, 8px) 0;
  display: grid;
  gap: min(6 / 1280 * 100vw, 6px);
  font-size: min(14 / 1280 * 100vw, 14px);
}
.ly_cont_side .bl_side_search .bl_search_def > div > dt {
  font-weight: 700;
}
.ly_cont_side .bl_side_search .bl_search_def > div > dd {
  color: #666666;
}
.ly_cont_side .bl_side_search .bl_search_btn {
  background: linear-gradient(270deg, #ba322f 0%, #6e1412 100%);
  border-radius: min(2 / 1280 * 100vw, 2px);
  padding-bottom: min(2 / 1280 * 100vw, 2px);
  color: #fff;
  font-size: min(16 / 1280 * 100vw, 16px);
  font-weight: 700;
  letter-spacing: 0.06em;
  height: min(48 / 1280 * 100vw, 48px);
  cursor: pointer;
}
.ly_cont_side .bl_side_search .bl_search_btn.sp {
  display: none;
}

@media screen and (max-width: 750px) {
  .ly_cont_side {
    width: 100%;
  }
  .ly_cont_side .bl_side_search {
    margin-bottom: 36px;
  }
  .ly_cont_side .bl_side_search .bl_search_ttl {
    height: 64px;
    padding-bottom: 3px;
    font-size: 24px;
  }
  .ly_cont_side .bl_side_search .bl_search_conts {
    padding: 30px;
    border-width: 2px;
  }
  .ly_cont_side .bl_side_search .bl_search_def {
    margin-bottom: 30px;
  }
  .ly_cont_side .bl_side_search .bl_search_def > div {
    border-width: 2px;
    padding: 20px 0;
    gap: 8px;
    font-size: 24px;
  }
  .ly_cont_side .bl_side_search .bl_search_btn {
    border-radius: 3px;
    padding-bottom: 2px;
    font-size: 30px;
    height: 80px;
  }

  .ly_cont_side .bl_side_search .bl_search_btn.pc {
    display: none;
  }
  .ly_cont_side .bl_side_search .bl_search_btn.sp {
    display: flex;
  }
}
/*=======================================================
side_bnr
=======================================================*/
.bl_side_bnr {
  display: grid;
  gap: min(24 / 1280 * 100vw, 24px);
}
.bl_side_bnr .bl_bnr.top .bl_bnr_link {
  height: min(65 / 1280 * 100vw, 65px);
  background: #363636;
  border-radius: min(2 / 1280 * 100vw, 2px);
  position: relative;
}
.bl_side_bnr .bl_bnr.top .bl_bnr_link::after {
  position: absolute;
  content: "";
  background: url("./images/common/btn_arrow.svg") top center/cover no-repeat;
  width: min(7 / 1280 * 100vw, 7px);
  height: min(14 / 1280 * 100vw, 14px);
  top: 50%;
  right: min(24 / 1280 * 100vw, 24px);
  transform: translateY(-50%);
}
.bl_side_bnr .bl_bnr.job .bl_bnr_link,
.bl_side_bnr .bl_bnr.recruit .bl_bnr_link {
  height: min(100 / 1280 * 100vw, 100px);
  padding: min(2 / 1280 * 100vw, 2px);
}
.bl_side_bnr .bl_bnr.job .bl_bnr_link {
  background: url("./images/common/bnr_agent.jpg") top center/cover no-repeat;
}
.bl_side_bnr .bl_bnr.job .bl_bnr_txt {
  background: #9b1613;
}
.bl_side_bnr .bl_bnr.recruit .bl_bnr_link {
  background: url("./images/common/bnr_service.jpg") top center/cover no-repeat;
}
.bl_side_bnr .bl_bnr_link {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: relative;
}
.bl_side_bnr .bl_bnr_link::after {
  position: absolute;
  content: "";
  background: url("./images/common/btn_arrow.svg") top center/cover no-repeat;
  width: min(7 / 1280 * 100vw, 7px);
  height: min(14 / 1280 * 100vw, 14px);
  top: 50%;
  right: min(24 / 1280 * 100vw, 24px);
  transform: translateY(-50%);
}
@media screen and (max-width: 750px) {
  .bl_side_bnr {
    gap: 36px;
  }
  .bl_side_bnr .bl_bnr.top .bl_bnr_link {
    height: 80px;
    border-radius: 3px;
    font-size: 30px;
  }
  .bl_side_bnr .bl_bnr.top .bl_bnr_link::after {
    width: 10.5px;
    height: 21px;
    right: 24px;
  }
  .bl_side_bnr .bl_bnr.job .bl_bnr_link,
  .bl_side_bnr .bl_bnr.recruit .bl_bnr_link {
    height: 140px;
    padding: 1px 0 0;
  }
  .bl_side_bnr .bl_bnr_link {
    font-size: 24px;
  }
  .bl_side_bnr .bl_bnr_link::after {
    width: 10.5px;
    height: 21px;
    right: 24px;
  }
}

.errorPage {
  text-align: center;
  padding: 200px 0;
  font-size: 18px;
}

.errorPageTitle {
  font-size: 46px;
}
